h1{
    font-size: 1.75em;
    
}

h2{
    font-size: 1.5em;
    line-height: 3em;
}
p{
    line-height: 2.0em;
}

.main-content{
    color: lightslategray;
    
}
a{
    color: #5cc6a7;
    line-height: 2.0em;
    text-decoration: none;
    border-bottom: dotted 1px #5cc6a7;
    
}
input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: #f7f7f7;
        border-radius: 0.35em;
        border: solid 2px transparent;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 0.75em;
        text-decoration: none;
        width: 100%;
}



/* @media screen and (max-width: 480px) {
    


}


@media screen and (max-width: 736px) {
   
   
  
} */

@media screen and (max-width: 980px) {

    .wrapper{
        display: flex;
        flex-direction: column;
       
        
    }
    .consistent-sidebar{
        background-image: url("resources/jakob-braun-vpsPRd_rz-A-unsplash.jpg");
        background-size: cover;
        height: 20vh;
        color: white;
        padding: 0 10%;
    
    }
    .main-content{
        padding: 5% 3%;
        
        
    }

}

@media screen and (min-width: 981px) {
    .wrapper{
        display: flex;
        height: 100vh;
        
    }
    .consistent-sidebar{
        background-image: url("resources/stop.jpg");
        background-size: cover;
        height: 100vh;
        color: white;
        padding: 0 10%;
        max-width: 15%;
        position: fixed;
       
       
    }
    .main-content{
        padding: 5% 3%;
        
        margin-left: 35%;
    }
    





.consistent-sidebar>*{
    padding: 25% 5%;
    
}

.consistent-sidebar img[ src="images/tdicon.png" ]{
    border-radius: 50%;
    width: 65%;
    
    margin-top: 10%;
   

}

}

